<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TypeScript CMS</title>
</head>
<body>
    <h1 style="text-align: center;"><%= title %> </h1>
    
    <div style="margin: 0 auto; width: 100%;">
        <form action="/article" method="POST" style="margin: 0 auto; width: 50%; display: flex; flex-direction: column;">
            <input style="margin-top: 15px;" type="text" name="title" size="80" placeholder="title">
            <input style="margin-top: 15px;" type="text" name="content" size="120" placeholder="content">
            <button style="margin-top: 25px;" type="submit">Submit</button>
        </form>
    </div>
</body>
</html> 